@import 'colors'
@import 'fonts'

body
  background-color: $bgclr
  margin: 0px 0px
  padding: 0px
  color: $defaultfontclr
  font-family: $defaultfnt  

h1 
  font-family: $defaultfnt

	
#whereto, #wherefrom
  position: absolute
  background-color: $wheretoboxclr
  width: 40%
  top: 100px
  margin: auto
  text-align: left
  padding: 20px
  
  .switcher,
    font-size: 10px
    position: absolute
    top: 0px
    right: 10px
  
  .details
    font-size: 10px 
    display: none 
    * 
      font-size: 10px
  
  input
    font-size: 25px
.title
  text-align: center
  
#input
  position: relative
  size: 40
  width: 20
  margin-left: $panelwidth+40px
  text-align: left
#wherefrom
  display: none
#from, #to
  position: absolute
  width: $panelwidth
  height: 500px
#from
  top: 10px
  left: 10px
  background-color: red
#to
  top: 10px
  right: 10px
  background-color: green
#status 
  font-size: 10px
