@import 'colors'
@import 'fonts'

body
  background-color: $bgclr
  margin: 50px 0px
  padding: 0px
  text-align: center
  color: $defaultfontclr
  font-family: $defaultfnt  

h1 
  font-family: $defaultfnt

	
#wheretoinput
  position: relative
  background-color: $wheretoboxclr
  width: 80%
  margin: auto
  text-align: left
  padding: 20px
  
#wheretobox
  font-size: 25px
  
#wheretodetails-switcher
  font-size: 10px
  position: absolute
  top: 0px
  right: 10px
  
#wheretodetails

  font-size: 10px 
  display: none 

#wheretodetails *
  font-size: 10px
