script(src='/js/underscore/underscore-min.js')
script(src='/js/jquery/jquery.js')
script(src='/js/jquery-ui/ui/minified/jquery-ui.min.js')
script(src='/js/DataTables/media/js/jquery.dataTables.js')
script(src='/js/moment/min/moment.min.js')
script(src='/js/moment/min/langs.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/ridestream.js')
script(src='/js/bootstrap/js/bootstrap.min.js')

