@import 'colors'
@import 'fonts'

#header
  height: $header-height
  background-color: $header-bg

#route
  font-size: 25px

#route div, #route span
  display: inline

#from_label, #to_label
  margin: 10px
#to_label
  color: red
#from_label
  color: green

#status 
  position: absolute
  right: 10px
  font-size: 10px
