!!! 5
html
  head
    title ride2go
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(src='/js/jquery.js')
    script(src='/js/jquery.ui.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/ride2go.js')
    script(src='/js/autocomplete.js')
              
    link(type='text/css', href='/css/smoothness/jquery-ui-1.8.14.custom.css', rel='stylesheet')
    link(type='text/css', href='/css/main.css', rel='stylesheet')
    
    style(type='text/css')
                  .ui-autocomplete { overflow-y: auto; width:300px; } * html .ui-autocomplete { /*
                  IE max- */height: expression( this.scrollHeight > 320 ? "320px" : "auto" ); } .ui-autocomplete
                  { max-height: 320px; } .ui-autocomplete li { font-size:10pt; }
              
  body
    #header
      span#logo ride2go
      span#status status: disconnected
      span#social
        span#gplus gplus
        span#facebook gplus

    #left
      #from_panel
        h2 departing
        h3.cityname Berlin
        img(src='/staticmap.berlin.png')
        h3
        #depature-startdate 18/11/2011 9:00 am
        #depature-endate 18/11/2011 7:21 pm 

    #right
      #to_panel
        h2 arriving
        h3.cityname Berlin
        img(src='/staticmap.hamburg.png')
        h3 
        #depature-startdate 18/11/2011 9:00 am
        #depature-endate 18/11/2011 7:21 pm 

 
     
    #middle 
      #options bahn? bus? mfg?
      #rides
        ul 
          li eine fahrt
          li eine fahrt
          li eine fahrt
          li eine fahrt
          li eine fahrt
          li eine fahrt

    #middle_overlay
      #start_splash 
        h1 where do you want to go? 

      #to_input
        h1 From where?
        input#wheretobox(type='text',  value='#{to}')

      #from_input
        h1 Where to?
        input#wherefrombox(type='text', value='#{from}')
 
