!!! 5
html
  head
    title ride2go
    meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(src='/js/jquery.js')
    script(src='/js/jquery.ui.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/ride2go.js')
    script(src='/js/bootstrap.js')
              
    link(type='text/css', href='/css/smoothness/jquery-ui-1.8.14.custom.css', rel='stylesheet')
    link(type='text/css', href='/css/main.css', rel='stylesheet')
    link(type='text/css', href='/css/bootstrap.css', rel='stylesheet')
    
    style(type='text/css')
                  .ui-autocomplete { overflow-y: auto; width:300px; } * html .ui-autocomplete { /*
                  IE max- */height: expression( this.scrollHeight > 320 ? "320px" : "auto" ); } .ui-autocomplete
                  { max-height: 320px; } .ui-autocomplete li { font-size:10pt; }
              
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') ride2go
          span#status status: disconnected 
    .container 
      
      #top
        #from 
          h1 from:
        #to 
          h2 to:
          
      div#route
          span#from_label From
          span#from startort
          span#to_label To
          span#to zielort
          div#when When
            input when
      #from_panel
        h2 departing
        h3.cityname Berlin
        img(src='/staticmap.berlin.png')
        a#edit_from_input edit
        #depature_startdate 18/11/2011 9:00 am
        #depature_endate 18/11/2011 7:21 pm 
  
      #to_panel
        h2 arriving
        h3.cityname Berlin
        img(src='/staticmap.hamburg.png')
        a#edit_to_input edit
        #depature_startdate 18/11/2011 9:00 am
        #depature_endate 18/11/2011 7:21 pm 
  
   
       
      #middle 
        table#rides
          thead
            tr
              th Start:
              th From
              th To
              th Provided by:
              th Arrival Time
  
      #middle_overlay
        #inputbox
        
        #to_input
          h1 Where to?
          #to_input_field_wrapper
            input#to_input_field(type='text')
        #from_input
          h1 From where?
          input#from_input_field(type='text')

