!!! 5
html
    head
        title ride2go
        meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
	include scripts
    body
        form(method='get',action='ridestream')
            p
                | From:
                input#from(type='text', name='fromStr')
            p
                | To:
                input#to(type='text', name='toStr')
            p
                input(type='submit', value='rides2go')
