!!! 5
html
    head
        title ride2go
        meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
        script(src='/js/underscore/underscore-min.js')
        script(src='/js/jquery/jquery.js')
        script(src='/js/jquery-ui/jquery-ui.min.js')
        script(src='/js/DataTables/media/js/jquery.dataTables.js')
        script(src='/js/moment/min/moment.min.pretty.js')
        script(src='/js/moment/min/lang-all.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/ridestream.js')


    body
        #query(fromKey=locals.fromKey, toKey=locals.toKey, depature=locals.departure)

        table#rides
            thead
                tr
                    th
                        img(src='http://test.fahrgemeinschaft.de/gfx/ico/go.gif')
                        | &nbsp;
                        strong
                            | Start
                    th Anbieter
                    th
                        img(src='http://test.fahrgemeinschaft.de/gfx/ico/go.gif')
                        | &nbsp;
                        strong
                            | Ziel
                    th
                        img(src='http://test.fahrgemeinschaft.de/gfx/ico/date.gif')
                        | &nbsp;
                        strong
                            | Abfahrt
                    th
                        img(src='http://test.fahrgemeinschaft.de/gfx/ico/date.gif')
                        | &nbsp;
                        strong
                            | Ankunft
                    th
                        strong
                        | Kosten
                    th
                        strong
                        | Details
            tbody
                tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td
