!!! 5
html
    include includes/header.jade
    body
    .container-narrow
        ul.nav.nav-pills.pull-right
            li.active
                a(href='#') Home
            li
                a(href='#') About
            li
                a(href='#') Contact
        h3.muted Ride2Go
            .jumbotron
                h1 marketplace for mobility as commodity
          p.lead
                  | ... soon, we can find, store and distribute rides in every mode.
